 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: 'Sora', sans-serif;
 }

 main {
     width: 30%;
     height: 100vh;
     margin: auto;
     background: url(https://media.tenor.com/y5DrU1cjqkYAAAAC/sound-waves.gif);
     background-size: cover;
 }

 .startbtn {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     padding: 10px 25px;
     border-radius: 4px;
     font-size: 20px;
     border: none;
     cursor: pointer;
     background: rgb(0, 0, 0, 0.5);
     color: white;
     box-shadow: 0px 0px 10px 5px purple;
 }

 .gussName {
     width: 100%;
     height: 100vh;
     /* background: url(https://i.gifer.com/HtW2.gif); */
     
     background-image: url(https://media.tenor.com/tVJw8HgcIZwAAAAM/design-animation.gif);
     background-size: cover;
     color: white;
     padding: 2%;
     font-size: 20px;
     display: none;
     background-position: center top;
 }

 .checkName {
     width: 100%;
     height: 100vh;
     color: white;
     display: none;
     padding: 0px 10px;
     background: url(https://media.tenor.com/pb2HrG36eA4AAAAC/flower.gif);
     background-size: cover;
 }
 .checkName li {
    background: rgba(0, 0, 0,0.7);
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid white;
    font-weight: bold;
 }
 .checkName button {
    background: linear-gradient(to right top,#1200ff,purple);
    color: white;
 }

 .resultbtn {
     position: absolute;
     width: auto;
     white-space: nowrap;
     background: rgba(0, 0, 0,0.7);
     color: white;
     border: 1px solid white;
     left: 50%;
     transform: translateX(-50%);
     bottom: 20%;
     display: none;
 }

 .seeName {
     background: url(https://i.pinimg.com/originals/da/a7/e4/daa7e47e58fe91f3588e7f92cc5c8dce.gif);
     background-size: cover;
     color: white;
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 50px;
     display: none;
 }
 .seeName span {
    background: rgba(0, 0, 0,0.7);
    padding: 10px 25px;
    border-radius: 4px;
    font-size: 18px;
    box-shadow: 0px 0px 10px 2px purple;
 }

 .gussName ul li {
    padding: 15px !important;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid white;
    font-weight: bold;
    background: rgba(0, 0, 0,0.7);
 }
 

 @media only screen and (min-width: 200px) and (max-width: 567px) {
     main {
         width: 100%;
     }
 }